




*{
    font-family: 'Work Sans', sans-serif;
}

/* banner styles */

.nav{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 0px 228px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
ul{
    list-style-type:none;
    overflow: hidden;
}
li{
    float: left;
    padding-right: 25px;
    font-size: 18px;
    font-weight: 500;
}

.banner-title{
    margin-top: 116px;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}
.banner-des{
    color: #727272;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
.btn{
    color: white;
    background-color:  #FF900E;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
    margin:32px 0px 50px 450px ;
}
.img{
    width: 1000px;
    height: 600px;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* quick lists */

 
.lists{
    display: flex;
    
    margin-left: 100px;
    margin-top: 85px;
    margin-right: 100px;
   
}
.images{
    width: 342px;
    height: 342px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.list{
    margin-left: 400px;
    margin-top: 200px;
}
.list-title{
    font-size: 45px;
}
#gray{
    color: #727272;
    font-weight: 500;
}
#black{
    color: black;
    font-weight: 700;
}
#yellow{
    color: #FF900E;
    font-weight: 700;
}
.list-des{
    color: #727272;
    font-size: 16px;
    margin-top: 20px;
    line-height: 26px;
}
.list-btn{
    color: white;
    background-color:  #FF900E;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
    margin-top: 32px;
}


/* Mobile device */

@media screen and (max-width:576px) {
    .nav{
        width: 100%;
        background-color: white;
        margin: 0; 
        padding: 10px;
    }
    .topnav{
        display: none;
    }
    .navbar{
         flex-direction: column-reverse;
        
    }
    .nav-title{
        text-align: center;
    }
    .banner-title{
        margin-top: 20px;
    }
    .btn{
        margin:32px 0px 50px 100px ; 
    }
    .img{
        width: 380px;
        height:350px;
        margin-left: 0;
        margin-right: 0;
    }
    .lists{
        width: 100%;
        flex-direction: column-reverse;
        margin-left: 5px;
        margin-right: 5px; 
        margin-top: 0;
        text-align: center;
    }
    .list{
        margin-left: 0;
        margin-top: 0;
    }
    .list-btn{
        margin-bottom: 40px;
    }
    .images{
        width: 100%;
        grid-template-columns: repeat(1 , 1fr);
        margin-left: 10px;
    }
     
}

@media screen and (min-width:577px) and (max-width:992px) {
    .nav{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn{
        margin-left: 330px;
    }
    .img{
        width:  100%;
        height: 400px;
        margin-left: 0;
    }
    .lists{
        width: 100%;
        flex-direction: column-reverse;
        margin-left: 5px;
        margin-right: 5px; 
        margin-top: 0;
        text-align: center;
    }
    .list{
        margin-left: 0;
        margin-top: 40px;
    }
    .list-btn{
        margin-bottom:40px;
    }
    .images{
        width: 100%;
        grid-template-columns: repeat(2 , 2fr);
        margin-left: 20px;
        gap: 40px; 
    }


}