




*{
    font-family: 'Work Sans', sans-serif;
}

/* banner styles */

.nav{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 0px 228px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
ul{
    list-style-type:none;
    overflow: hidden;
}
li{
    float: left;
    padding-right: 25px;
    font-size: 18px;
    font-weight: 500;
}

.banner-title{
    margin-top: 116px;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}
.banner-des{
    color: #727272;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
.btn{
    color: white;
    background-color:  #FF900E;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
    margin:32px 0px 50px 450px ;
}
.img{
    width: 1000px;
    height: 600px;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* quick lists */

 
.lists{
    display: flex;
    
    margin-left: 100px;
    margin-top: 85px;
    margin-right: 100px;
   
}
.images{
    width: 342px;
    height: 342px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.list{
    margin-left: 400px;
    margin-top: 200px;
}
.list-title{
    font-size: 45px;
}
#gray{
    color: #727272;
    font-weight: 500;
}
#black{
    color: black;
    font-weight: 700;
}
#yellow{
    color: #FF900E;
    font-weight: 700;
}
.list-des{
    color: #727272;
    font-size: 16px;
    margin-top: 20px;
    line-height: 26px;
}
.list-btn{
    color: white;
    background-color:  #FF900E;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
    margin-top: 32px;
}

/* Feature section styles */

.features{
    display: flex  ;
    gap: 120px;
    margin-top: 335px;
    margin-left: 150px;
}
#image {
    width: 600px;
    height: 900px;
    border-radius: 8px;
    margin-right: 150px;
}
.feature-header{
    display: flex;
}
.btnn{
    background-color: #FF900E;
    width: 5px;
    height: 106px;
}
.feature-title{
    font-size: 45px;
    font-weight: 700;
    margin-left: 21px;
}
.feature-des{
    font-size: 16px;
    color: #727272;
    margin-bottom:30px;
    margin-top: 24px;
}
.box{
    margin-bottom: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background-color: white;
    padding: 30px 33px;
    border-radius: 8px;
}
.box-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.box-des{
    color: #727272;
    font-size: 16px;
}
.feature-btn{
    color: white;
    background-color: #FF900E;
    font-size: 65px;
    font-weight: 700;
    padding: 30px 34px;
    border: none;
    border-radius: 5px;
    line-height: 70px;
    margin-top: -500px;
    margin-left: -80px;
}
#experience{
    font-size: 25px;
    font-weight: 500;
    line-height: 40px; 
}

/* Some Facts styles */


.facts-mouth{
    margin-left: 240px;
    margin-top: 140px;
}
.facts-title{
    font-size: 45px;
    font-weight: 700;
}
.facts-des{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}
.facts{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.fact-btn{
    border-radius: 5px;
    border-color: #FF900E;
    background-color: white;
    margin: 100px 50px;
}
#number{
    font-size: 45px;
    font-weight: 600;
    padding-top: 5px;
}
#icon{
    margin-bottom: -40px;
    width: 45.221px;
    height: 45.222px;
    padding-top: 45px;
}
.fact-des{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: -40px;
    padding: 3px 5px 10px 5px  ;
}

/* sponsors */

 .sponsors-title{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
 }
 .sponsors-des{
    color: #727272;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
 }
 .sponsors{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    margin: 60px 100px 130px 100px ;
    
 }

 /* footer */
  .footer{
    background-color: #FFF4E7;
    padding: 38px 50px;
    margin: 100px 100px;
    text-align: center;
    border-radius: 8px;
    color: #424242;
    font-size: 20px;
  }


/* Mobile device */

@media screen and (max-width:576px) {
    .nav{
        width: 100%;
        background-color: white;
        margin: 0; 
        padding: 10px;
    }
    .topnav{
        display: none;
    }
    .navbar{
         flex-direction: column-reverse;
        
    }
    .nav-title{
        text-align: center;
    }
    .banner-title{
        margin-top: 20px;
    }
    .btn{
        margin:32px 0px 50px 100px ; 
    }
    .img{
        width: 380px;
        height:350px;
        margin-left: 20px;
        margin-right: 0;
    }
    .lists{
        width: 100%;
        flex-direction: column-reverse;
        margin-left: 5px;
        margin-right: 5px; 
        margin-top: 0;
        text-align: center;
    }
    .list{
        margin-left: 0;
        margin-top: 0;
    }
    .list-btn{
        margin-bottom: 40px;
    }
    .images{
        width: 100%;
        grid-template-columns: repeat(1 , 1fr);
        margin-left: 10px;
        margin-bottom: 1100px;
    }
    /* features */
    .features{
        flex-direction: column;
        gap: 120px;
    margin-top: 0px;
    margin-left: 0px;
    }
    .feature{
        margin-top: 50px;
    }
    #image{
        width: 100%;
        height: 500px;
        margin-top: -100px;
    }
    .feature-btn{
      margin-left: 10px; 
      padding: 15px 20px ;
    }
    /* facts */
    .facts-mouth{
        margin-left: 10px;
        margin-top: 20px;
    }
    .facts{
       flex-direction: column;
       gap: 0px;
        justify-content: center;
    }
    .fact-btn{
        margin: 10px 50px;
    }
    .fact-des{
        margin-top: -40px;
        padding: 3px 50px 10px 50px  ;
    }

    /* sponsors */
    
    .sponsors{
        width: 100%;
        grid-template-columns: repeat(1 ,1fr);
        gap: 40px;  
        justify-content: center;
     }  

     /* footer */

    .footer{
            margin: 50px 10px;
          }
     
}

@media screen and (min-width:577px) and (max-width:992px) {
    
    
    .nav{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn{
        margin-left: 330px;
    }
    .img{
        width:  100%;
        height: 400px;
        margin-left: 0;
    }
    .lists{
        width: 100%;
        flex-direction: column-reverse;
        margin-left: 5px;
        margin-right: 5px; 
        margin-top: 0;
        text-align: center;
    }
    .list{
        margin-left: 0;
        margin-top: 40px;
    }
    .list-btn{
        margin-bottom:40px;
    }
    .images{
        width: 100%;
        grid-template-columns: repeat(2 , 2fr);
        margin-left: 20px;
        gap: 40px; 
    }
    .features{
        flex-direction: column;
        gap: 120px;
    margin-top: 400px;
    margin-left: 0px;
    }
    .feature{
        margin-top: 50px;
    }
    .feature-title{
        margin-top: 20px;
    }
    #image{
        width: 600;
        height: 700px;
        margin-top: -100px;
        margin-left: 200px;
    }
    .feature-btn{
      margin-left: 10px; 
      padding: 15px 20px ;
      margin-top: -100px;
    }
    /* facts */
    .facts-mouth{
        margin-left: 10px;
        margin-top: 20px;
    }
    .facts{
        width: 100%;
        flex-direction: row;
        gap: 0px;
        justify-content: center;
    }
    .fact-btn{
        margin: 10px 20px;
    }
    .fact-des{
        margin-top: -40px;
        padding: 3px 30px 10px 30px  ;
    }

/* sponsors */

    .sponsors{
        width: 100%;
        grid-template-columns: repeat(3 ,1fr);
        gap: 30px;  
        margin-left: 20px;
     }  
     #telerama{
        margin-left: 100px;
     }
    #figma{
        margin-left: 100px;
    }

    /* footer */

    .footer{
        margin: 50px 0px;
      }


}